* {
	box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
	.category-text {
		max-width: 100%;
		width: 100%;
		align-self: center;
		overflow-wrap: normal;
		font-size: .75em;
	}
	
	.card {
		max-width: 100%;
		align-self: center;
	}
	
	.card-img {
		min-width: 35vw;
	}
	
	.flex-box {
		padding: 5px;
		justify-content: center;
		flex-wrap: wrap;
	}
	
	.hero-spot {
		height: 40vh;
	}
	
	div.resource-container {
		width: 100%;
	}
	
	.subtitle {
		background-color: rgba(245,245,245,0.3);
	}
	
	.category-text {
		margin-right: 0;
		overflow-wrap: normal;
	}
	
	.title-link {
		overflow-wrap: normal;
	}
}

@media only screen and (max-width: 450px) {
	.category-text {
		max-width: 100%;
		align-self: center;
		overflow-wrap: normal;
	}
	
	.card-img {
		min-width: 35vw;
	}
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #6EC1E4;
}

button {
	border-radius: 5px;
	padding: 8px;
	background-color: rgb(8,163,214);
	color: white;
	font-size: 1em;
	cursor: pointer;
}

#brandeisHeader {
	display: none;
}

#brandeisFooter {
	display: none;
}

.breathing-room {
	margin-top: 8vh;
}

.blueprint-table {
	border-bottom: 1px solid gray;
	border-collapse: collapse;
	padding: 15px;
}

.category-card {
	padding: 15px;
	margin-top: 0;
	margin-bottom: 5vh;
	margin-left: 5vw;
	text-align: left;
	align-self: flex-start;
/* 	background-color: #34373F;
	color: whitesmoke; */
}

.card-container {
	margin-top: 10vh;
	justify-content: space-around;
}

.card-img {
	width: 20vw;
}

.category-text {
	font-size: 1.4em;
	align-self: flex-end;
	max-width: 20vw;
	margin-left: 5vw;
	color: #0072C8;
}

.center {
	text-align: center;
}

.content-area {
	background-color: white;
	padding: 5px;
}

.demo-img {
	width: 50%;
	height: auto;
}

.demo-list {
	margin-bottom: 25px;
	margin-top: 8px;
}

.elementor-widget-tabs .elementor-tab-content {
	color: #333333;
}

.elementor-text-editor .elementor-clearfix {
	color: #333333;
}

.elementor-widget-tabs .elementor-tab-title.elementor-active {
	color: #183572;
}

.elementor-tab-title, .elemntor-tab-desktop-title {
	color: #0072C8;
}

.feature-section {
/* 	background-color: #34373F;
	color: whitesmoke; */
	width: 100%;
	border: 2px solid #0072C8;
	box-shadow: 7px 9px 0px #0072C8;
	margin-bottom: 20vh;
}

.flex-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.flex-box-nowrap {
	flex-wrap: nowrap;
	justify-content: space-between;
}

.flex-center {
	justify-content: center;
}

.flex-end {
	justify-content: flex-end;
}

.flex-evenly {
	justify-content: space-around;
}

.flex-stretch {
	align-items: stretch;
}

.forms {
	font-size: .75em;
	font-weight: normal;
}

#footer-base {
	background-color: white;
}

#footer.site-footer {
	background-color: white;
}

.header {
	text-align: right;
	width: 100%;
	align-self: center;
	height: 30vh;
	margin-top: 10vh;
}

.hero-spot {
	background-color: #ffffff;
	height: 60vh;
	width: 100%;
	background-position: right bottom;
	background-size: cover;
	position: relative;
	border-radius: 5px;
		border: 2px solid #0072C8;
	box-shadow: 7px 9px 0px #0072C8;
	color: #0072C8;
}

/* Remove Home Page Widgets */
.home-widgets {
	display: none;
}

.home-widgets + .home-widgets {
	display: block;
}

html, body {
	margin: 0;
	width: 100%;
	font-size: 1em;
	background-color: white;
	color: #333333;
}

label {
	font-weight: 400;
}

.large {
	height: 20vh;
}

.main {
	margin-left: 10vh;
}

/* Menu items */
#main-menu-container {
	background-color: #0072C8;
}

#main-navigation .main-nav ul li a:hover {
	color: #6EC1E4;
}

main #featured-content .call-to-action .cta-button, main #featured-image .call-to-action .cta-button {
	background: #E8BD0F;
}

main #featured-content .call-to-action .cta-button:hover, main #featured-image .call-to-action .cta-button:hover, main #featured-content .call-to-action .cta-button:focus, main #featured-image .call-to-action .cta-button:focus, main #featured-content .call-to-action .cta-button:active, main #featured-image .call-to-action .cta-button:active, main #featured-content .call-to-action .cta-button.active, main #featured-image .call-to-action .cta-button.active, .open > main #featured-content .call-to-action .cta-button.dropdown-toggle, .open > main #featured-image .call-to-action .cta-button.dropdown-toggle {
	background: #357EBD;
}

.menu {
	background-color: #0072C8;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.menu a {
	font-weight: 400;
	font-size: 1.2em;
	height: 1.2em;
	line-height: 1.1em;
	padding: 0 1em;
}

.menu-item {
	background-color: #0072C8;
	align-self: flex-end;
}

/* Hamburger Menu */
#mobile-nav-button {
	background: #357EBD;
}

#main-menu .container {
	background: #ffffff;
}

#menu-social-container {
	display: none;
}

.no-borders {
	border: none;
}

.nohyphen {
	hyphens: none;
}

.page-bottom {
	margin-bottom: 25vh;
}

.placeholder {
	width: 30vw;
}

.post-entry {
	width: 100%;
}

.powered, .copyright {
	color: white;
	display: none;
}

.resource-card-container {
	margin-top: 10vh;
	margin-bottom: 10vh;
	align-items: stretch;
	align-content: center;
}

.resource-container {
	width: 30vw;
	margin: 10px;
}

.responsive-img {
	width: 100%;
	height: auto;
}

.scroll-top {
	display: none;
}

.service-card {
	height: 500px;
}

.service-card > img {
	height: 300px;
}

.service-card > h3 {
	font-weight: bold;
}

/* prevents weird behavior where submenu items are hidden if parent is active */
.sidebar .main-navigation .main-nav .current-menu-item .sub-menu, 
.sidebar .main-navigation .main-nav .current-menu-ancestor .sub-menu {
	opacity: 1;
	left: auto;
	right: auto !important;
	position: relative;
	width: 100%;
	clear: both !important;
	top: auto;
	float: none;
	visibility: visible;
	pointer-events: auto;
	height: auto;
	display: block;
}

.sidebar .current-menu-item .dropdown-menu-toggle, 
.sidebar .current-menu-ancestor .dropdown-menu-toggle {
	display: none;
}

.small {
	height: 5vh;
}

.spacer {
	height: 5vh;
}

.subtitle {
	margin-right: 5vw;
} 

.table-left {
	width: 10vw;
	background-color: #e6e6e6;
	color: black;
	border-bottom: 1px solid gray;
	border-collapse: collapse;
	vertical-align: middle;
}

.team-bio {
	padding: 5vh;
	font-size: 1.2em;
	max-width: 40vw;
	hyphens: manual;
}

.team-heading {
	margin: 5vh;
	font-size: 1.4em;
}

.team-photo {
	align-self: flex-start;
	height: 250px;
	margin: 10px;
/* let's just work on getting images that are the same size */
}

.text-container {
	align-self: center;
	justify-content: flex-end;
}

.title {
	font-weight: bold;
	margin-top: 0;
	margin-right: 8vw;
font-size: 2em;
}

.title-link {
	font-weight: 400;
	font-size: 2em;
	color: #0072C8;
	display: block;
	padding: 5px;
	margin-left: 3vw;
	margin-top: 5vh;
	padding-bottom: 10px;
}

#contact-submit {
	margin-left: 0;
}

.wpcf7 input[type="submit"]:hover {
	background: rgb(8,163,214);
	cursor: pointer;
	color: white;
}

.wpcf7 label {
	text-align: left;
}