/* Menu items */
#main-menu-container {
	background-color: #34373F;
}

#main-navigation .main-nav ul li a {
	color: white;
	font-weight: 600;
	font-size: 1.2em;
}

.menu {
	background-color: #34373F;
	color: #0070a8;
	color: white;
}

.menu a {
	color: white;
	font-weight: 600;
	height: 1.2em;
	line-height: 1.1em;
	padding: 0 .9em;
}

.menu-item {
	background-color: #34373F;
}

a:hover {
	color: whitesmoke;
}

main #featured-content .call-to-action .cta-button, main #featured-image .call-to-action .cta-button {
	background: #E8BD0F;
}

main #featured-content .call-to-action .cta-button:hover, main #featured-image .call-to-action .cta-button:hover, main #featured-content .call-to-action .cta-button:focus, main #featured-image .call-to-action .cta-button:focus, main #featured-content .call-to-action .cta-button:active, main #featured-image .call-to-action .cta-button:active, main #featured-content .call-to-action .cta-button.active, main #featured-image .call-to-action .cta-button.active, .open > main #featured-content .call-to-action .cta-button.dropdown-toggle, .open > main #featured-image .call-to-action .cta-button.dropdown-toggle {
	background: #357EBD;
}

/* Footer items */
#footer {
	background-color: #34373F;
	color: #183572;
	font-weight: 500;
}

/* Hamburger Menu */
#mobile-nav-button {
	background: #357EBD;
}

#main-menu .container {
	background: #ffffff;
}

/* Remove Home Page Widgets */
.home-widgets {
	display: none;
}

.home-widgets + .home-widgets {
	display: block;
}

/* Otherwise alphabetically ordered CSS */
@media only screen and (max-width: 600px) {
	.category-text {
		max-width: 100%;
		width: 100%;
		align-self: center;
		overflow-wrap: break-word;
		font-size: .75em;
	}
	
	.card {
		max-width: 100%;
		align-self: center;
		margin: 0;
	}
	
	.flex-box {
		padding: 5px;
		border-top: 1px solid lightgray;
		justify-content: center;
		flex-wrap: wrap;
	}
	.hero-spot {
		height: 40vh;
	}

	div.resource-container {
		width: 100%;  
		
	}
	.title {
		margin-right: 0;
		overflow-wrap: break-word;
		hyphens: manual;
	}
}

@media only screen and (max-width: 450px) {
	.category-text {
		max-width: 100%;
		align-self: center;
		overflow-wrap: break-word;
		hyphens: manual;
	}
}

html, body {
	margin: 0;
	width: 100%;
	font-size: 1em;
	background-color: #34373F;
	hyphens: manual;
	color: #001f3f;
}

a {
	color: #0074D9;
}

button {
	border-radius: 5px;
	padding: 8px;
	background-color: rgb(8,163,214);
	color: white;
	font-size: 1em;
	cursor: pointer;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: .3s;
	border-radius: 5px;
	padding: 15px;
	margin: 10vh;
	margin-left: 0;
	text-align: center;
	background-color: #f1f1f1;
	align-self: center;
	width: 360px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	background-color: rgb(252,252,225);
	align-self: center;
}

.card > h3 {
	font-size: 1.5em;
	font-weight: lighter;
}

.card-container {
	margin-top: 10vh;
	margin-left: 5vw;
	margin-bottom: 10vh;
	justify-content: space-around;
}

.card-img {
	width: 300px;
	padding: 5px;
}

.category-text {
	font-size: 1.4em;
	align-self: center;
	max-width: 400px;
	hyphens: manual;
}

.center {
	text-align: center;
}

.flex-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

}

.flex-box-nowrap {
	flex-wrap: nowrap;
	justify-content: space-between;
}

.flex-center {
	justify-content: center;
}

.flex-end {
	justify-content: flex-end;
}
.flex-evenly {
	justify-content: space-around; 
}
.flex-stretch {
	align-items: stretch; 
}
.forms {
	font-size: .75em;
	font-weight: normal;
}

.header {
	text-align: right;
	width: 100%;
	align-self: center;
/* 	flex-grow: 3; */
	height: 30vh;
	margin-top: 10vh;
}

.hero-spot {
	background-color: #023479;
	height: 60vh;
	width: 100%;
	background-image: url('http://blogs.brandeis.edu/instructionaldesign/files/2019/05/adult-brickwalls-businesswoman-7363.jpg');
	background-position: right bottom;
	background-size: cover;
	position: relative;
	border-radius: 5px;
}

label {
	font-weight: 400;
}
.main {
	margin-left: 10vh;
}
.no-borders {
	border: none;
}

.nohyphen {
	hyphens: none;
}

.page-bottom {
	margin-bottom: 25vh;
}

.powered, .copyright {
	color: white;
}
.resource-card-container {
	margin-top: 10vh;
	margin-bottom: 10vh;
	align-items: stretch;
	align-content: center;
}
.resource-container {
	width: 30vw; 
	margin: 10px;
}

.responsive-img {
	width: 100%;
	height: auto;
}

.service-card {
	height: 500px;
}

.service-card > img {
	height: 300px;
}

.service-card > h3 {
	font-weight: bold;
}

.spacer {
	height: 5vh;
}

.subtitle {
	margin-right: 5vw;
}

.team-bio {
	padding: 5vh;
	font-size: 1.2em;
	max-width: 40vw;
	hyphens: manual;
}

.team-heading {
	margin: 5vh;
	font-size: 1.4em;
}

.team-photo {
	align-self: flex-start;
	height: 250px;
	margin: 10px;
/* let's just work on getting images that are the same size */
}

.text-container {
	align-self: center;
}

.title {
	font-weight: bold;
	margin-right: 5vw;
	margin-top: 0;
}
.wpcf7 input[type="submit"]{
	text-align: left;
	margin-left: 0px; 
}

.wpcf7 input[type="submit"]:hover {
	background: rgb(8,163,214);
	cursor: pointer;
	color: white;

}
.wpcf7 label {
	text-align: left;
}