html, body{
    margin: 0;
    width: 100%;
}
button {
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(8, 163, 214);
    color: white;
    font-size: 1em; 
    cursor: pointer; 
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    padding: 16px;
    margin: 10vh; 
    text-align: center; 
    background-color: #f1f1f1;
    width: 500px; 
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgb(252, 252, 225)
  }
  .card > h3 {
      font-size: 1.5em; 
  }
  .card-container {
    margin-top: 10vh;
    margin-left: 10vw;
    margin-bottom: 10vh;
  }
  .card-img{
      height: 300px;
  }
.flex-box {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    justify-content: flex-start; 
    align-items: baseline;
    padding: 2px 16px;
}
.flex-center {
    justify-content: center; 
}
.flex-end {
    justify-content: flex-end; 
}
.header {
    text-align: right;
    width: 100%;
   font-size: 1.2em;
}
.hero-spot{
    background-color: #023479;
    height: 60vh;
    width: 100%; 
    padding: 2%;
    background-image: url('http://blogs.brandeis.edu/instructionaldesign/files/2019/05/adult-brickwalls-businesswoman-7363.jpg');
    background-position: right bottom;
    background-size: cover; 
    position: relative;
}
.no-borders {
    border: none;
}
.team-bio{
    flex-grow: 2;
    align-self: auto; 
    padding: 5vh;
    font-size: 1.2em; 
}
#team-heading { 
    margin-bottom: 5vh; 
    font-size: 1.4em;
}
.team-photo{
    align-self: flex-start;
    height: 200px;
    /* let's just work on getting images that are the same size */
}
#title {
    font-size: 3em; 
    text-shadow: 1px 1px darkgray;
}